/* https://neumorphism.io */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    height: 100vh;
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'header header header'
    'menu menu menu'
    'box1 box2 sidebar'
    'content content sidebar'
    'content content sidebar'
    'footer footer footer';
    background-color: #ffffff;
    gap: 20px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    grid-template-rows: 50px 30px 80px 220px 50px;

}

.items{

    /* display: none; */
    color: rgb(0, 0, 0);
    font-weight: bolder;
    /* backdrop-filter: blur(5px) saturate(200%); */
    background-color: #4c4c4c26;


    border-radius: 7px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  8px 8px 9px #8f8f8f,
                 -8px -8px 9px #ffffff;



}

.header{
    grid-area: header;
    /* background-color: #C57400; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}
.menu{ 
    grid-area: menu;
    /* background-color: #3CB502; */
}
.box1{ 
    grid-area: box1;
    /* background-color: #5503E4; */
}
.box2{ 
    grid-area: box2;
    /* background-color: #C79CB0; */
}
.sidebar{ 
    grid-area: sidebar;
    /* background-color: #0101DF; */
}
.content{ 
    grid-area: content;
    /* background-color: #51EF00; */
}
.footer{ 
    grid-area: footer;
    /* background-color: #A8340D; */

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
